#root {
    width: 100%;
}
.map{
    width: 100%;
    height: 100%; /* Example height, can be anything */
    border: 4px solid #000000; /* Red border with 4px thickness */
    padding: 4px;
}
.leaflet-containerset {
  width: 100%;
  height: 85.5vh;
  display:flex;
  flex-direction: row;
  overflow: hidden;
  padding: 20px 10px 5px 10px;
}
.leaflet-container-big{
  width: 100%;
  display:flex;
  text-align: center;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.leaflet-container{
  width: 100%;
  height: 100%;
}