root {
    width: 100%;
}
.map{
    width: 100%;
    height: 100%; /* Example height, can be anything */
    border: 8px solid #34000f;
    border-radius: 8px;
    padding: 0;
}
.leaflet-containerset {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: row;
  overflow: hidden;
  padding: 20px 10px 5px 10px;
  gap: 15px;
}
.leaflet-container-big{
  width: 100%;
  display:flex;
  text-align: center;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.leaflet-container-big > div {
  overflow-x: hidden;
  max-width: 100%;
}

.leaflet-container-big svg {
  max-width: 100%;
  height: auto;
}

.leaflet-container{
  width: 100%;
  height: 100%;
  border: 8px solid #34000f;
  border-radius: 15px;
}